/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Raleway', serif;
}

/* nav style */

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-div{
    
}
.nav-div-2 a{
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.nav-div-3{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-div-4 a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}

.nav-button button{
    width: auto;
    height: 35px;
    font-size: 16px;
    font-weight: 700px;
    color: #fff;
    background-color: blue;
    border-style: none;
    border-radius: 4px;

}
/* end the nav */ 

/* header style */
header{
text-align: center;
    
}

.header-div h1{
    position: relative;
    font-size: 110px;
    font-weight: 700;
    margin-top: 100px;
    
}

.header-div p{
    position: relative;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 400;
    color: rgb(12, 12, 12);
    
}
.header-div-1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header-button button{
    border: none;
    background-color: blue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.header-button button:hover{
    background-color: aqua;
    color: blue;
    
}
.header-button-2 button{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 13px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: blue;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid blue;
}

.main-header{
    margin-top: 100px;
    
}
.main-header-div{

}
.images{

}
header{
    background-image: url('../Images/hero-shape1.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

/* main style */


/* section 1 */
.section-1{
    background-color:rgb(17, 17, 17) ;
    height: 300px;
}
.section-h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.section-1-div{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.section-1-div-images{
    display: flex;
    gap: 20px;
}
.section-1-div-images-2{
    margin-top: 20px;
}

/* section-2 */
.section-2-div-1{
    display: flex;
    gap: 300px;
}
.section-2{
    margin: 200px auto;
    background-position: bottom left;
    background-image: url('../Images/mocup01-863x1024.png');
    background-size: 427.06px;
    background-repeat: no-repeat;
    width: 1270px;
    height: 503px;
   
}
.section-2-div img{

}
.section-2-div-2 {
position: relative;
top: 250px;
left: 230px;
}
.section-2-div{

}
.section-2-div-3 h1{
    padding-top: 20px;
    font-size: 70px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.section-2-div-3 p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
}
.section-2-div-3 span{
    font-size: 21px;
    font-weight: 700;
}


/* section 3 */
.section-3{
    margin: 200px auto;
    background-position: bottom right;
    background-image: url('../Images/mocup2-864x1024.png');
    background-size: 427.06px;
    background-repeat: no-repeat;
    width: 1270px;
    height: 503px;
 
}

.section-3-div-1{
    display: flex;
    gap: 300px;
}
.section-3-div-2 h1{
    font-size: 70px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.section-3-div-2 p{
    padding-top: 10px;
    font-size: 21px;
    font-weight: 500;
}
.section-3-card h2{
    padding-top: 21px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(12, 12, 12);
}
.section-3-card p{
    padding-top: 20px;
    font-size: 21px;
    font-weight: 400;
    padding-left: 75px;
}
.card-1 {
    size: 30px;
}

.section-3-div-3 img {
    position: relative;
    left: 50px;
    top: 300px;
}


/* section 4 */




@media screen and (max-width:576px) {
    /* nav */
    .nav-div-2 a{
        display: none;
    }
    .nav-div-4 a{
    display: none;
    }
    .nav-button button{
        background-color:tomato;
    }
    

     /* header */
     .header-div h1{
        font-size: 48px;
        font-weight: 700;
        margin-top: 10px;
    }

    .header-div p{
        margin-top: 10px;
        font-size: 21px;
        font-weight: 400;
        color:darkseagreen;
    }
    .header-div-1{
        flex-direction: column;
    }
    .header-button button{
        padding: 13px 40px;
    }
    .main-header-div img{
        width:100% ;
    }
    


    /* finis the header */

    /* main style */
    /* section-1 */
    .section-1{
        background-color:rgb(17, 17, 17) ;
        height: 300px;
    }
    .section-h1{
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
    .section-1-div{
        padding-top: 50px;
        flex-direction: column;
        gap: 10px;
    }
    .section-1-div-images{
        display: flex;
       
    }
    .section-1-div-images-2 {
        margin-top: 0px;
    }
    .none-images{
        display: none;
    }
    .section-1-div-2{
        text-align: center;
        margin-top: 10px;
    }
    .section-1-div-2 img{
        height: 25px;
    }

/* section-2 */
.section-2-div-1{
    /* flex-direction: column;
    gap: 300px; */
    flex: none;
}
.section-2{
    
    margin: 100px auto;
    background-position:top left ;
    /* margin-top: 200px; */
    background-image: url('../Images/mocup01-863x1024.png');
    background-size: 300px;
    background-repeat: no-repeat;
    width:auto;
    height: 730px;
   background-position-x:center;
}
.section-2-div img{

}
.section-2-div-2 {
display: none;
}
.section-2-div{

}
.section-2-div-3 h1{
    padding-top: 370px;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}
.section-2-div-3 p{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}
.section-2-div-3 span{
    font-size: 16px;
    font-weight: 600;
}
.class{
    text-align: center;
}


/* section 3 */
.section-3{
    margin: 100px auto;
    background-position: top;
    background-image: url('../Images/mocup2-864x1024.png');
    background-size: 300px;
    background-repeat: no-repeat;
    width: auto;
    height: 740px;
    background-position-x: center;
}

.section-3-div-1{
    flex-direction: column;
}
.section-3-div-2 h1{
    
    padding-top: 370px;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}
.section-3-div-2 p{
    
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.section-3-card h2{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(12, 12, 12);
}
.section-3-card p{
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
    
}
.section-3-div-3 img {
    display: none;
}


/* section 4 */

  
}