/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Raleway', serif;
}

/* nav style */

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-div{
    
}
.nav-div-2 a{
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.nav-div-3{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-div-4 a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}

.nav-button button{
    width: auto;
    height: 35px;
    font-size: 16px;
    font-weight: 700px;
    color: #fff;
    background-color: blue;
    border-style: none;
    border-radius: 4px;

}
/* end the nav */ 

/* header style */
header{
text-align: center;
    
}

.header-div h1{
    position: relative;
    font-size: 110px;
    font-weight: 700;
    margin-top: 100px;
    
}

.header-div p{
    position: relative;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 400;
    color: rgb(12, 12, 12);
    
}
.header-div-1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header-button button{
    border: none;
    background-color: blue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.header-button button:hover{
    background-color: aqua;
    color: blue;
    
}
.header-button-2 button{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 13px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: blue;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid blue;
}

.main-header{
    margin-top: 100px;
    
}
.main-header-div{

}
.images{

}
header{
    background-image: url('../Images/hero-shape1.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

/* main style */


/* section 1 */
.section-1{
    background-color:rgb(17, 17, 17) ;
    height: 300px;
}
.section-h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.section-1-div{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.section-1-div-images{
    display: flex;
    gap: 20px;
}
.section-1-div-images-2{
    margin-top: 20px;
}

/* section-2 */
.section-2-div-1{
    display: flex;
    gap: 300px;
}
.section-2{
    margin: 200px auto;
    background-position: bottom left;
    background-image: url('../Images/mocup01-863x1024.png');
    background-size: 427.06px;
    background-repeat: no-repeat;
    width: 1270px;
    height: 503px;
   
}
.section-2-div img{

}
.section-2-div-2 {
position: relative;
top: 250px;
left: 230px;
}
.section-2-div{

}
.section-2-div-3 h1{
    padding-top: 20px;
    font-size: 70px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.section-2-div-3 p{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
}
.section-2-div-3 span{
    font-size: 21px;
    font-weight: 700;
}


/* section 3 */
.section-3{
    margin: 200px auto;
    background-position: bottom right;
    background-image: url('../Images/mocup2-864x1024.png');
    background-size: 427.06px;
    background-repeat: no-repeat;
    width: 1270px;
    height: 503px;
 
}

.section-3-div-1{
    display: flex;
    gap: 300px;
}
.section-3-div-2 h1{
    font-size: 70px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.section-3-div-2 p{
    padding-top: 10px;
    font-size: 21px;
    font-weight: 500;
}
.section-3-card h2{
    padding-top: 21px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(12, 12, 12);
}
.section-3-card p{
    padding-top: 20px;
    font-size: 21px;
    font-weight: 400;
    padding-left: 75px;
}
.card-1 {
    size: 30px;
}

.section-3-div-3 img {
    position: relative;
    left: 50px;
    top: 300px;
}


/* section 4 */
.section-4{
    background-color: rgba(64, 64, 64, 0.082);
}
.section-4-div h1{
    padding-top: 100px;
    text-align: center;
    font-size: 85px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
/* section-4-div-h1 end */
.section-4-div-1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
}
.section-4-card-1 div{
    margin: 0 auto;
    align-items: center;
    font-size: 30px;
    background-color: chartreuse;
    text-align: center;
    width: 50px;
    height:40px;
    border-radius: 50%;
    padding-top: 10px;
}
.section-4-card-1{
    width: 356px;
    height: 295px;
    background: rgba(0, 0, 0, 0.048);
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}
.section-4-card-1:hover{
    border: 2px solid black;
}

.section-4-card-1 h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-top:25px ;
}
.section-4-card-1 p{
    font-size: 21px;
    font-weight: 400;
    padding-top: 15px;
}


/* section-5 */
.button{
    border: none;
    background-color: blue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.section-2-div-3 div{
    padding-top: 20px;
}

/* section-6 */
.section-6{
    background-color: rgba(64, 64, 64, 0.034);
}
.section-6-div h1{
    text-align: center;
    font-size: 85px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.section-6-div{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* section-6-div end */
 

/* section-6-div-1 start*/
.section-6-div-1{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.section-6-div-2{
    width: 624px;
    height: 326px;
    border: 2px solid black;
    border-radius: 8px;
}
.icon{
    padding-left: px;
    width: 30px;
    height: 30px;
    color: chartreuse;
    margin-bottom: 20px;
}
.section-6-div-3{
    padding: 24px;
}
.section-6-div-3 h1{
    font-size: 24px;
    font-weight: 700;
    color: rgb(12, 12, 12);
    margin-bottom: 12px;
}
.section-6-div-3 p{
    font-size: 21px;
    font-weight: 400;
    color: rgb(12, 12, 12);
    margin-bottom: 30px;
}

.section-6-div-4 img{
    border-radius: 50%;
}
.section-6-div-6{
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-6-div-5 h4{
    font-size: 18px;
    font-weight: 600;
    color: rgb(12, 12, 12);
}

.section-6-div-5 .p{
    
    font-size: 14px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

/* section-6-div-2 start*/
.section-6-div-1{
    padding-top:20px ;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-6-button{
    padding: 100px 0px 100px;
    text-align: center;
}

.section-6-button .button:hover{
    background-color: darkorange;
}

/* section-7 */
.section-7{
    padding: 120px  0px 120px;
    display: flex;
    justify-content: center;    
}
.section-7-div{
    width: 1385px;
    height: 780px;

}

.section-7-div-2 h1{
    padding-left: 20px;
    font-size: 85px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.section-7-card{
    width: 408px;
    height: 471px;
    border: 4px solid black;
    border-radius: 6px;
    
}
.section-7-div-3 .section-7-card{
    margin: 0px 12px;
}
.section-7-card-1 img{
    width: 100%;
    height: 230px;
}
.section-7-card-1 img:hover{
    cursor: pointer;
}
.section-7-card-1-button button{
    padding: 10px 18px;
    cursor: pointer;
    color: black;
    background-color: #ABFB4F;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.section-7-card-1-button button:hover{
    background-color: blue;
    color: white;
    
}
.section-7-card-1-button{
    position: relative;
    text-align: right;
    right: 25px;
    bottom: 210px;
}
.section-7-card-2{
    padding: 20px;
}
.section-7-card-2 p{
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    margin: 0px 0px 10px;
}
.section-7-card-2 p:hover{
    color: #ABFB4F;
}
.section-7-card-2 h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0px 0px 20px;
}
.section-7-card-2 h1:hover{
    color: #ABFB4F;
}
.section-7-card-2 .section-7-icon{
    font-size: 30px;
}
.section-7-div-3{
    padding-top: 100px;
    display: flex;
}
.section-7-card-3{
    padding: 0px 12px;
}


/* section-8 */
.section-8{
    background-color: #2332DD;
}
.section-8-div{
    
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.section-8-div-1{
    display: flex;
    gap: 20px;
    width:1296px ;
    height: 100%;
}

.section-8-div-5 h1{
    font-size: 85px;
    color: #fff;
    padding-top: 150px;
}
.section-8-div-5 P{
    margin-top: 20px;
    color: #fff;
    margin-bottom: 30px;
}
.section-8-div-6 {
    display: flex;
    gap: 25px;
}

.section-8-images{
    position: relative;
    bottom: 50px;
   
}
/* footer */
footer{
    background-color: #40404021;
}
.footer-div{
   width: 1116px;
   height: 300px;
   margin: 0 auto;
   padding-top: 120px;
   padding-bottom: 120px;
}
.footer-div-1 p{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 21px;
}
.footer-input-div{
    display: flex;
}
.footer-input-div{
    padding-top: 40px;
}
.footer-input-div input{
    padding: 22px 110px 15px 24px;
    
}
.footer-input-div input:hover{
    border-style: none;
    
}
.footer-button{
    padding: 13px 15px;
    border: none;
    color: #fff;
    background-color: #2332DD;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}
.footer-button:hover{
    background-color: #000000;
}
.footer-button-div{
    position: relative;
    right: 102px;
    top: 6px;
}
.footer-flex-div{
    display: flex;
    gap: 50px;
}
.footer-div{
    display: flex;
    gap: 100px;
}
.footer-flex-div-1 h4{
    padding-bottom: 16px;
    font-size: 21px;
    font-weight: 600;
    color: black;
}
.footer-flex-div-1 p{
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}



.footer-hr{
    margin: 0 auto;
    width: 1295px;
}
.last-footer{
    display: flex;
    justify-content: space-around;
    padding:20px 100px;
}
.last-footer-2{
    display: flex;
    gap: 10px;
}






@media screen and (max-width:576px) {
    /* nav */
    .nav-div-2 a{
        display: none;
    }
    .nav-div-4 a{
    display: none;
    }
    .nav-button button{
        background-color:tomato;
    }
    

     /* header */
     .header-div h1{
        font-size: 48px;
        font-weight: 700;
        margin-top: 10px;
    }

    .header-div p{
        margin-top: 10px;
        font-size: 21px;
        font-weight: 400;
        color:darkseagreen;
    }
    .header-div-1{
        flex-direction: column;
    }
    .header-button button{
        padding: 13px 40px;
    }
    .main-header-div img{
        width:100% ;
    }
    


    /* finis the header */

    /* main style */
    /* section-1 */
    .section-1{
        background-color:rgb(17, 17, 17) ;
        height: 300px;
    }
    .section-h1{
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
    .section-1-div{
        padding-top: 50px;
        flex-direction: column;
        gap: 10px;
    }
    .section-1-div-images{
        display: flex;
       
    }
    .section-1-div-images-2 {
        margin-top: 0px;
    }
    .none-images{
        display: none;
    }
    .section-1-div-2{
        text-align: center;
        margin-top: 10px;
    }
    .section-1-div-2 img{
        height: 25px;
    }

/* section-2 */
.section-2-div-1{
    /* flex-direction: column;
    gap: 300px; */
    flex: none;
}
.section-2{
    margin: 100px auto;
    background-position:top left ;
    /* margin-top: 200px; */
    background-image: url('../Images/mocup01-863x1024.png');
    background-size: 300px;
    background-repeat: no-repeat;
    width:auto;
    height: 730px;
   background-position-x:center;
}
.section-2-div img{

}
.section-2-div-2 {
display: none;
}
.section-2-div{

}
.section-2-div-3 h1{
    padding-top: 370px;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}
.section-2-div-3 p{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}
.section-2-div-3 span{
    font-size: 16px;
    font-weight: 600;
}
.class{
    text-align: center;
}

/* akto kaj baki */
/* section 3 */
.section-3{
    margin: 100px auto;
    background-position: top;
    background-image: url('../Images/mocup2-864x1024.png');
    background-size: 300px;
    background-repeat: no-repeat;
    width: auto;
    height: 740px;
    background-position-x: center;
}

.section-3-div-1{
    flex-direction: column;
}
.section-3-div-2 h1{
    
    padding-top: 370px;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}
.section-3-div-2 p{
    
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.section-3-card h2{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(12, 12, 12);
}
.section-3-card p{
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    padding-right: 50px;
    
}
.section-3-div-3 img {
    display: none;
}

/* akto kaj baki */
/* section 4 */
.section-4-div h1{
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
  /* section-4-div-1 end */
  .section-4-div-1{
    margin-top: 100px;
    flex-direction: column;
    padding-bottom: 20px;
    
}


.section-4-card-1 div{
    margin: 0 auto;
    align-items: center;
    font-size: 30px;
    background-color: chartreuse;
    text-align: center;
    width: 50px;
    height:40px;
    border-radius: 50%;
    padding-top: 10px;
}
.section-4-card-1{
    margin: 0 auto;
    width: 70%;
    height: 250%;
    background: rgba(0, 0, 0, 0.048);
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}
.section-4-card-1:hover{
    border: 2px solid black;
}

.section-4-card-1 h1{
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    
}
.section-4-card-1 p{
    font-size: 21px;
    font-weight: 400;
   
}
/* section-5 */



/* section-6 */
.section-6{
    background-color: rgba(64, 64, 64, 0.034);
   
}
.section-6-div h1{
    font-size: 30px;
}

/* section-6-div-1 start*/
.section-6-div-1{
    padding-top: 100px;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 15px;

}
.section-6-div-2{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 8px;
}
.icon{
    width: 30px;
    height: 30px;
    color: chartreuse;
    margin-bottom: 20px;
}


.section-6-div-3 p{
    font-size: 18px;
}
.section-6-div-5 h4{
    font-size: 18px;
}

/* section-7 */
.section-7-div-3{
    padding-top: 100px;
    flex-direction: column;
    gap: 20px;
}

.section-7-div{
    width: 1385px;
    height: 780px;

}

.section-7-div-2 h1{
    text-align: center;
    font-size:35px;
    font-weight: 700;
    cursor: pointer;
}
.section-7-div-2 h1:hover{
    color: aqua;
}
.section-7-card{
    margin: 0 auto;
    width: 100%;
    height: 470px;
    border: 4px solid black;
    border-radius: 6px;
    
}
.section-7-div-3 .section-7-card{
    margin:0 auto;
}
.section-7-card-1 img{
    width: 100%;
    height: 230px;
}


.section-7-card-2{
    padding: 10px;
}
.section-7-card-2 p{
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    margin: 0px 0px 10px;
    width: 100%;
    
}
.section-7-card-2 p:hover{
    color: #ABFB4F;
}
.section-7-card-2 h1{
    width: 100%;
    height: 100%;
    font-size: 21px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0px 0px 20px;
}

.section-7-card-2 .section-7-icon{
    font-size: 25px;
    
}
.section-7-div-3{
    padding-top: 100px;
    display: flex;
}
.section-7-card-3{
    padding: 0px 15px;
}


/* section-8 */
.section-8{
    background-color: #2332DD;
    margin-top: 1000px;
}
.section-8-div{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.section-8-div-1{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width:1296px ;
    height: 100%;
}

.section-8-div-5 h1{
    font-size: 40px;
    color: #fff;
    padding-top: 150px;
    text-align: center;
}
.section-8-div-5 P{
    margin-top: 20px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}
.section-8-div-6 {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.section-8-images{
    display: none;
   
}
.section-8-img-1{
    text-align: center;
}
.section-8-div-3 img{
    width: 100%;
}
.section-8-img-1 img{
    width: 70%;
}

/* footer */
/* footer */
footer{
    background-color: #40404021;
}
.footer-div{
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding-top: 120px;
   padding-bottom: 120px;
}
.footer-div-1 p{
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 21px;
}
.footer-div-1 svg{
    padding-left: 10px;
}
.footer-input-div{
    display: flex;
}
.footer-input-div{
    padding-top: 50px;
    margin-left: 20px;
    width: 100%;
    
}
.footer-input-div input{
    padding: 15px;
    border-radius: 8px;
    border-style: none;
    
    
    
}
.footer-input-div input:hover{
    border-style: none;
    
}
.footer-button{
    padding: 13px 65px;
    border: none;
    color: #fff;
    background-color: #2332DD;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    
}
.footer-button:hover{
    background-color: #000000;
}
.footer-button-div{
    text-align: center;
    position: relative;
    top: 80px;
    right:  197px;
    
}
.footer-flex-div{
    flex-direction: column;
    gap: 30px;
}
.footer-div{
    flex-direction: column;
    gap: 100px;
}
.footer-flex-div-1 h4{
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 21px;
    font-weight: 600;
    color: black;
    width: 100%;
}
.footer-flex-div-1 p{
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}






/* last-footer */
.footer-hr{
    margin: 0 auto;
    width: 70%;
}
footer{
    background-color: #40404021;
}
.last-footer{
    flex-direction: column;
    gap: 10px;
    padding:20px 20px;
}
.last-footer-2{
    display: flex;
    gap: 10px;
}
}
